/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffa2a0;
  height: 100vh;
}
.simple-todos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 13px;
}
